.update-button{
    width: 100px;
    margin-right: 20px;
}
.update-button a{
    text-decoration: none;
    color: black;
    
}

.delete-button{
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.delete-button:hover{
    background-color: rgb(96, 96, 218);
}