.home-container {
  
  
}

.banner-title {
 
  color: rgb(196, 192, 236);
}

.banner-img{
  height: 900px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
  grid-gap: 30px;
}
.brand-title {
  margin-top: 100px;
}

.brand-title h3 {
  font-weight: 700;
}

.all-brand {
  width: 700px;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.mileage-bike {
  width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mileage-section {
  margin-top: 100px;
}

.mileage-section h3 {
  font-weight: 700;
}
hr {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}
.view-button {
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(158, 158, 202);
}
.view-button a {
  text-decoration: none;
  color: black;
}
.view-button:hover {
  background-color: rgb(58, 126, 204);
  font-weight: 600;
}

@media only screen and (max-width: 576px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .all-brand {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }
}
@media only screen and (max-width: 576px) {
  .mileage-bike {
    grid-template-columns: repeat(1, 1fr);
 
  }
} ;
