
.parent-div{
    background-color: black;
    height: 410px;

}
.colum{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;

    color: rgba(245, 245, 245, 0.363);
    font-size: large;
    margin: auto;
    
}
.CopyRight{
    color: white;
}